services:
  db:
    container_name: postgres_db
    image: postgres
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: task
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: